<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">

    <div class="container px-4 px-lg-5">
        <div class="d-flex align-items-center justify-content-center">
            <a class="navbar-brand me-4 d-flex align-items-baseline " href="/recipes">
                <img src="/img/chef.svg" height="35" alt="Logo of recipe app" class="d-inline-block align-top me-2" id="img-logo" >
                <p class="text-success" >Cook me app</p>
            </a>
            <a class="home-navbar" href="/recipes">All recipes</a>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                {{#if currentUser }}
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/recipes/new">Add new recipe</a></li>
                {{/if }}
            </ul>

            <ul class="navbar-nav d-flex">
                {{#if currentUser }}
                <li class="nav-item">
                    <a class="nav-link {{active path=path match='/profile'}}" aria-current="page" href="/profile">
                        {{ currentUser.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                </li>
                <div class="image-user-navbar" style="background-image: url('{{currentUser.photo}}')">

                </div>

                {{else}}
                <li class="nav-item">
                    <a class="nav-link {{active path=path match='/login'}}" href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>