<div class="container-slider mx-auto mt-6">
  {{#if edit }}
  <form action="/recipes/{{recipe.id}}/edit" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{recipe.id}}" />
    {{else}}
    <form action="/recipes" method="POST" enctype="multipart/form-data">
      {{/if}}
      <div class="form-group mt-3">
        <label for="title" class="mb-1">Title</label>
        <input name="title" type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" id="title"
          placeholder="Recipe Title" value="{{ recipe.title }}">
        {{#if errors.title}}
        <div class="invalid-feedback">
          {{errors.title.message}}
        </div>
        {{/if}}
      </div>
      <!--
    <div class="input-group">
      <label for="time">Time of cooking</label>
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Time</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">1</a></li>
        <li><a class="dropdown-item" href="#">2</a></li>
        <li><a class="dropdown-item" href="#">3</a></li>
        <li><a class="dropdown-item" href="#">4</a></li>
      </ul>

      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Units of time</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">secs</a></li>
        <li><a class="dropdown-item" href="#">min</a></li>
        <li><a class="dropdown-item" href="#">hours</a></li>
      </ul>
    </div>
    -->

      <div class="form-group mt-3">
        <label for="cookingTime" class="mb-1">Cooking time</label>
        <input name="cookingTime" type="number" class="form-control {{#if errors.cookingTime}}is-invalid{{/if}}"
          id="cookingTime" placeholder="Cooking Time" value="{{ recipe.cookingTime }}">
        {{#if errors.cookingTime}}
        <div class="invalid-feedback">
          {{errors.cookingTime.message}}
        </div>
        {{/if}}
      </div>
      <!-- Diferentes tipos del tiempo: prep time, cooking time & total time  -->

      <div class="form-group mt-3">
        <label for="servings" class="mb-1">Servings</label>
        <input name="servings" type="number" class="form-control {{#if errors.servings}}is-invalid{{/if}}" id="servings"
          placeholder="Number of servings" value="{{ recipe.servings }}">
        {{#if errors.servings}}
        <div class="invalid-feedback">
          {{errors.servings.message}}
        </div>
        {{/if}}
      </div>

      <div class="form-group mt-3">
        <label id="upload-image" for="image" class="mb-2">Add picture of your recipe</label>
        <input name="image" type="file" class="form-control-file" id="image">
      </div>
      <div id="ingredients" class="mt-3">
        <div class="row ">
          <label class="col-sm-1 col-form-label me-3">Ingredients</label>
          <div class="col-sm">
            <button class="btn btn-success rounded-circle" type="button" id="add-ingredient">+</button>
          </div>
        </div>

        {{#each recipe.ingredients as |ingredient|}}
        <!--Sin terminar-->
        <div class="ingredient row g-3 mt-1">
          <div class="form-group col-sm">
            <label class="mt-1">Name</label>
            <input value="{{ingredient.name}}" name="ingredients[{{@index}}][name]" type="text"
              class="form-control ingredient-name" placeholder="Ingredient Name">
          </div>

          <div class="form-group col-sm">
            <label class="mt-1">Amount</label>
            <input value="{{ingredient.amount}}" name="ingredients[{{@index}}][amount]" type="text"
              class="form-control ingredient-amount" placeholder="Amount">
          </div>

          <div class="form-group col-sm">
            <label class="mt-1">Unit</label>
            <input value="{{ingredient.unit}}" name="ingredients[{{@index}}][unit]" type="text"
              class="form-control ingredient-unit" placeholder="Units">
          </div>

        </div>
        {{else}}
        <div class="ingredient row g-3 mt-1">
          <div class="form-group col-sm">
            <label class="mt-1">Name</label>
            <input name="ingredients[0][name]" type="text" class="form-control ingredient-name"
              placeholder="Ingredient Name">
          </div>

          <div class="form-group col-sm">
            <label class="mt-1">Amount</label>
            <input name="ingredients[0][amount]" type="text" class="form-control ingredient-amount"
              placeholder="Amount">
          </div>

          <div class="form-group col-sm">
            <label class="mt-1">Unit</label>
            <input name="ingredients[0][unit]" type="text" class="form-control ingredient-unit" placeholder="Units">
          </div>

        </div>
        {{/each}}

      </div>

      <!--<div class="row g-3">
  <div class="col-sm-7">
    <input type="text" class="form-control" placeholder="City" aria-label="City">
  </div>
  <div class="col-sm">
    <input type="text" class="form-control" placeholder="State" aria-label="State">
  </div>
  <div class="col-sm">
    <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
  </div>
</div>-->

      <!-- <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <select id="ingredients" name="ingredients" multiple class="form-control">
        {{#each ingredients as |ingredient| }}
        <option value="{{ingredient}}" {{#recipeHasIngredient ingredient=ingredient recipe=../recipe}} selected
          {{/recipeHasIngredient}}>{{ingredient}}</option>
        {{/each}}
      </select>
      preguntar si necesitamos seguridad 
    </div>-->

      <div class="form-group mt-3">
        <label for="directions" class="mb-1">Directions</label>
        <textarea name="directions" type="text"
          class="form-control html-editor {{#if errors.directions}}is-invalid{{/if}}" id="directions"
          placeholder="Enter recipe directions" rows="10">{{ recipe.directions }}
      </textarea>
        {{#if errors.directions}}
        <div class="invalid-feedback">{{errors.directions}}</div>
        {{/if}}
      </div>

      <div class="form-group mt-3">
        <label for="keyWords" class="mb-1">Select a few key words your recipe can be found by</label>
        <select id="keywords-select" name="keyWords" multiple class="form-control">
          {{#each keyWords as |keyWord| }}
          <option value="{{keyWord}}" {{#recipeHasKeyWord keyWord=keyWord recipe=../recipe}} selected
            {{/recipeHasKeyWord}}>{{keyWord}}</option>
          {{/each}}
        </select>
        <!-- preguntar si necesitamos seguridad y si podemos hacer un helper universal -->
      </div>

      <button type="submit" class="btn btn-success mt-3 mb-5">Submit</button>

    </form>
</div>