edit={{edit}}
recipe={{recipe.ingredients}}
errors={{errors}}
servings={{recipe.servings}}


{{#if edit }}
<form action="/recipes/{{recipe.id}}/edit" method="POST">
  {{else}}
  <form action="/recipes" method="POST">
    {{/if}}
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" type="text" class="form-control {{#if errors.title}}is-invalid{{/if}}" id="title"
        placeholder="Recipe Title" value="{{ recipe.title }}">
      {{#if errors.title}}
      <div class="invalid-feedback">
        {{errors.title.message}}
      </div>
      {{/if}}
    </div>
    <!--
    <div class="input-group">
      <label for="time">Time of cooking</label>
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Time</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">1</a></li>
        <li><a class="dropdown-item" href="#">2</a></li>
        <li><a class="dropdown-item" href="#">3</a></li>
        <li><a class="dropdown-item" href="#">4</a></li>
      </ul>

      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Units of time</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">secs</a></li>
        <li><a class="dropdown-item" href="#">min</a></li>
        <li><a class="dropdown-item" href="#">hours</a></li>
      </ul>
    </div>
    -->

    <div class="form-group">
      <label for="cookingTime">Cooking time</label>
      <input name="cookingTime" type="text" class="form-control {{#if errors.cookingTime}}is-invalid{{/if}}"
        id="cookingTime" placeholder="Cooking Time" value="{{ recipe.cookingTime }}">
      {{#if errors.cookingTime}}
      <div class="invalid-feedback">
        {{errors.cookingTime.message}}
      </div>
      {{/if}}
    </div>
    <!-- Diferentes tipos del tiempo: prep time, cooking time & total time  -->
   
    <div class="form-group">
      <label for="servings">Servings</label>
      <input name="servings" type="number"
        class="form-control {{#if errors.servings}}is-invalid{{/if}}" id="servings" placeholder="Number of servings"
        value="{{ recipe.servings }}">
      {{#if errors.servings}}
      <div class="invalid-feedback">
        {{errors.servings.message}}
      </div>
      {{/if}}
    </div>
   
    <!--<div class="form-group">
        <label for="image">Add picture of your recipe</label>
        <input name="image" type="file" class="form-control-file" id="image">
    </div> -->
    <div class="form-group">
      <label for="ingredients">Ingredients</label>
      <select id="ingredients" name="ingredients" multiple class="form-control">
        {{#each ingredients as |ingredient| }}
        <option value="{{ingredient}}" {{#recipeHasIngredient ingredient=ingredient recipe=../recipe}} selected
          {{/recipeHasIngredient}}>{{ingredient}}</option>
        {{/each}}
      </select>
      <!-- preguntar si necesitamos seguridad -->
    </div>

    <div class="form-group">
      <label for="directions">Directions</label>
      <textarea name="directions" type="text"
        class="form-control html-editor {{#if errors.directions}}is-invalid{{/if}}" id="directions"
        placeholder="Enter recipe directions" rows="10">{{ recipe.directions }}
      </textarea>
      {{#if errors.directions}}
      <div class="invalid-feedback">{{errors.directions}}</div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="keyWords">Select a few key words your recipe can be found by</label>
      <select id="keyWords" name="keyWords" multiple class="form-control">
        {{#each keyWords as |keyWord| }}
        <option value="{{keyWord}}" {{#recipeHasKeyWord keyWord=keyWord recipe=../recipe}} selected
          {{/recipeHasKeyWord}}>{{keyWord}}</option>
        {{/each}}
      </select>
      <!-- preguntar si necesitamos seguridad y si podemos hacer un helper universal -->
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>