recipe= {{recipe}}
recipeKeyWord={{recipe.keyWords}}

{{#each recipes as |recipe|}}

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5">

    <div class="card h-100">

        {{#isRecipeAuthor user=../currentUser recipe=recipe }}
        <div class="position-absolute actions-card-button p-3" style="top: 0.5rem; right: 0.5rem">
            <div class="d-flow rounded-pill d-flex w-100 justify-con">
                <a href="/recipes/{{recipe.id}}/edit"
                    class="border border-secondary btn bg-white rounded me-1 btn-link text-secondary"><i
                        class="fa fa-edit"></i></a>
                <form action="/recipes/{{recipe.id}}/delete" method="post">
                    <button type="submit" class="border border-danger btn bg-white rounded btn-link text-danger"><i
                            class="fa fa-times"></i></button>
                </form>
            </div>
        </div>
        {{/isRecipeAuthor}}

        <a href="/recipes/{{recipe.id}}" id="recipe-link">

            <div class="recipe-image  m-3" style="background-image: url('{{recipe.image}}')">
            </div>

            <div class="card-body p-4">
                <div class="text-center">

                    <h5 class="fw-bolder">{{recipe.title}}</h5>

                    <div class="d-flex justify-content-center small text-warning mb-2">
                        {{{ average recipe.ratings }}}
                    </div>

                    <p> &#x23F2; <span class="text-muted ">{{recipe.cookingTime}}</span></p>


                </div>
            </div>
        </a>
    </div>

</div>



{{/each}}